<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run" parallel="methods">
    <test name="Issue">
        <classes>
            <class name="TestJiraSecure" />
        </classes>
    </test>
    <!--<listeners>-->
    <!--<listener class-name="CustomListener" />-->
    <!--</listeners>-->
</suite>