<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
    <test name="Issue Test">
        <groups>
            <run>
                <include name = "Issue"/>
                <include name = "Search"/>
                <include name = "Comment"/>
            </run>
        </groups>
        <classes>
            <class name="TestJiraSecure" />
        </classes>
    </test>
    <!--<listeners>-->
    <!--<listener class-name="CustomListener" />-->
    <!--</listeners>-->
</suite>